body,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,html,img,legend,li,ol,p,ul {
    margin: 0;
    padding: 0;
  }
  img{
      display: block;
  }
  ol,ul {
    list-style: none;
  }
  
  .clearfix:after {
      content: '.';
      display: block;
      height: 0;
      visibility: hidden;
      clear: both;
  }
  .clearfix {
      zoom: 1;
  }
  
  /* .fl {
      float: left;
  }
  .fr {
  float: right;
  } */
  
  a{
      text-decoration: none;
  }
  
  